<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>direct</title>
    <script src="https://kit.fontawesome.com/549cc9b111.js" crossorigin="anonymous"></script>
    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/direct-style.css">
</head>
<body>
    <img id="background" src="static/images/splash.png" alt="">
    <div class="left-navbar">
        <div class="nav-logo">
            <h1><img src="static/images/logotus.png" alt="aitys a"></h1>
        </div>
        <div class="nav-list">
            <!--<li> 
                <img id="icon-a" src="images/a.png" alt="">
                <ul> 
                    <a href="#">Home</a></ul>
                <hr>
                <ul><a href="#">Search</a></ul>
                <hr>
                <ul><a href="#">Music</a></ul>
                <hr>
                <ul><a href="#">Messages</a></ul>
                <hr>
                <ul><a href="#">Notifications</a></ul>
                <hr>
                <ul><a href="#">Profile</a></ul>
            </li>-->
            
            <p> <i class="fa-solid fa-house" id="icon-list"></i>
                <a href="#">Home</a></p>
            <hr>
            
            <p><i class="fa-solid fa-magnifying-glass" id="icon-list"></i><a href="#">Search</a></p>
            <hr>
            <p><i class="fa-solid fa-music" id="icon-list"></i><a href="#">Music</a></p>
            <hr>
            <p><i class="fa-solid fa-message" id="icon-list"></i>
                <a href="#">Messages</a></p>
            <hr>
            <p><i class="fa-solid fa-bell" id="icon-list"></i>
                <a href="#">Notifications</a></p>
            <hr>
            <p> <i class="fa-solid fa-user" id="icon-list"></i>
                <a href="#">Profile</a></p>
        </li>
        </div>
    </div>
    <div class="container-dialog">
        <div class="container-msg-dia">
            
        <div class="container-username">
            <h2>username</h2>  
            <a href="#">
        </div> 
        <!--message-->
        <div class="container-messages">
            <img src="static/images/pfp.png" alt="pfp"> 
            <!-- this is for pfp but i have no idea about project logic-->
            <p id="username2">ye</p>
            <p>whassup </p>
            </a>
        </div>
        <hr style="color: rgb(81, 81, 81); margin-top: -45px;">
        <div class="container-messages">
            <img src="static/images/pfp.png" alt="pfp"> 
            <!-- this is for pfp but i have no idea about project logic-->
            <p id="username2">ye</p>
            <p>whassup </p>
            </a>
        </div>
        <hr style="color: rgb(81, 81, 81); margin-top: -45px;">
        <div class="container-messages">
            <img src="static/images/pfp.png" alt="pfp"> 
            <!-- this is for pfp but i have no idea about project logic-->
            <p id="username2">ye</p>
            <p>whassup </p>
            </a>
        </div>
        </div>
    </div>
    <div class="container-no-dialog">
        <div class="container-notext-text">
            <i class="fa-solid fa-comment-slash fa-5x"></i>
            <p>Your messages</p>
            <button type="button" onclick="alert('SOON!')">New message</button>
        <!--or it's better to use inout but again i do not understand the logic-->
        </div>
    </div>
</body>
</html>