<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AITYS | Login Page</title>
    <link rel="stylesheet" href="static/css/login page.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <video src="static/images/bgvidfinal.mp4" autoplay loop muted></video>
    <div class="wrapper">
        <form action="submit">
            <h1>Login</h1>

            <div class="input-box">
                <input type="text" placeholder="Username" name="">
                <i class="bx bx-user"></i>
            </div>

            <div class="input-box">
                <input type="password" placeholder="Password" name="">
                <i class="bx bx-lock-alt"></i>
            </div>

            <div class="remember-forgot">
                <label for="">
                    <input type="checkbox" name="" id="">
                    Remember Me
                </label>
                <a href="#">Forgot password?</a>
            </div>

            <a href="main.html"><button type="button" class="btn">Login</button></a>

            <div class="register-link">
                <p>Don't have an account?
                    <a href="register page.html">Register</a>
                </p>
            </div>

        </form>
    </div>
</body>

</html>