<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/images/main.css">
    <script src="https://kit.fontawesome.com/549cc9b111.js" crossorigin="anonymous"></script>
    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Poppins&display=swap" rel="stylesheet">

    <title>Main</title>
</head>
<body>
    
    <div class="container">


        <div class="overlay">

            <div class="left-side">
                <div class="logo">
                    <img src="static/images/a.png" alt="A">
                    <h3>ITYS</h3>
                </div>

                <nav class="menu">
                    <div>
                        <i class="fa-solid fa-house-chimney"></i>
                        <a href="main.html">Home</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <a href="search.html">Search</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-music"></i>
                        <a href="music.html">Music</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-bell"></i>
                        <a href="notifications.html">Notifications</a>
                    </div>
                    <div>
                        <i class="fa-regular fa-user"></i>
                        <a href="profile.html">Profile</a>
                    </div>
                </nav>
            </div>

            <div class="right-side">
                <div class="profile">
                    <div>
                        <img src="static/images/pfp_oruntaev.png" alt="pfp" class="pfp">
                        <h6 class="nickname">oryntaev</h6>
                    </div>
                    <a href="login page.html">Switch account</a>
                </div>

                <div class="recommendations">
                    <div>
                        <p>Recommendations for you</p>
                        <a href="#">All</a>
                    </div>
                    <div class="recommendation">
                        <div>
                            <img src="static/images/pfp_merei.png" alt="pfp" class="pfp">
                            <h6 class="nickname">merei</h6>
                        </div>
                        <button>Follow</button>
                    </div>
                    <div class="recommendation">
                        <div>
                            <img src="static/images/pfp_alisa.png" alt="pfp" class="pfp">
                            <h6 class="nickname">alissa</h6>
                        </div>
                        <button>Follow</button>
                    </div>
                    <div class="recommendation">
                        <div>
                            <img src="static/images/pfp_dayana.png" alt="pfp" class="pfp">
                            <h6 class="nickname">dayana</h6>
                        </div>
                        <button>Follow</button>
                    </div>
                    <div class="recommendation">
                        <div>
                            <img src="static/images/pfp_ye.png" alt="pfp" class="pfp">
                            <h6 class="nickname">ye</h6>
                        </div>
                        <button>Follow</button>
                    </div>
                    <div class="recommendation">
                        <div>
                            <img src="static/images/pfp_dumile.png" alt="pfp" class="pfp">
                            <h6 class="nickname">dumile</h6>
                        </div>
                        <button>Follow</button>
                    </div>
                </div>

            </div>

        </div>


        <div class="content">
            <h4>Home</h4>
            
            <div class="new-post-container tweet">
                <img src="images/pfp_oruntaev.png" alt="pfp" class="pfp">
                <textarea placeholder="What's happening?"></textarea>
                <button type="button">Tweet</button>
            </div>

            <div class="posts-container">
                <div class="tweet">
                    <img src="images/pfp_merei.png" alt="pfp" class="pfp">
                    <div class="tweet-content">
                        <div class="tweet-content__info">
                            <h6 class="nickname">merei</h6>
                            <span class="tweet-time">2h</span>
                        </div>
                        <p class="tweet-content__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci quae odio aliquam pariatur in numquam corrupti optio minima itaque quod soluta, nam vero obcaecati, atque, minus sunt nisi tempore distinctio.</p>
                        <div class="tweet-content__stats">
                            <div class="reposts">
                                <i class="fa-regular fa-paper-plane"></i>
                                <span>12</span>
                            </div>
                            <div class="likes">
                                <i class="fa-regular fa-heart"></i>
                                <span>19</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tweet">
                    <img src="images/pfp_alisa.png" alt="pfp" class="pfp">
                    <div class="tweet-content">
                        <div class="tweet-content__info">
                            <h6 class="nickname">alisa</h6>
                            <span class="tweet-time">3h</span>
                        </div>
                        <p class="tweet-content__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid cupiditate ipsum ea, ipsa veritatis asperiores consequuntur dignissimos, laboriosam ullam quas architecto quaerat recusandae rem accusantium. Pariatur autem similique alias accusamus!</p>
                        <div class="tweet-content__stats">
                            <div class="reposts">
                                <i class="fa-regular fa-paper-plane"></i>
                                <span>12</span>
                            </div>
                            <div class="likes">
                                <i class="fa-regular fa-heart"></i>
                                <span>19</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tweet">
                    <img src="images/pfp_dayana.png" alt="pfp" class="pfp">
                    <div class="tweet-content">
                        <div class="tweet-content__info">
                            <h6 class="nickname">dayana</h6>
                            <span class="tweet-time">4h</span>
                        </div>
                        <p class="tweet-content__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum, facere expedita corporis ratione quod molestias unde debitis sint voluptatum eum eius numquam voluptate dignissimos, repellat minima modi libero placeat provident.</p>
                        <div class="tweet-content__stats">
                            <div class="reposts">
                                <i class="fa-regular fa-paper-plane"></i>
                                <span>12</span>
                            </div>
                            <div class="likes">
                                <i class="fa-regular fa-heart"></i>
                                <span>19</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tweet">
                    <img src="images/pfp_dumile.png" alt="pfp" class="pfp">
                    <div class="tweet-content">
                        <div class="tweet-content__info">
                            <h6 class="nickname">dumile</h6>
                            <span class="tweet-time">5h</span>
                        </div>
                        <p class="tweet-content__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam vitae maiores eligendi eos sint aspernatur voluptate id dolores. Dignissimos architecto molestias voluptate deleniti minus deserunt dolore, sint consequatur placeat sed.</p>
                        <div class="tweet-content__stats">
                            <div class="reposts">
                                <i class="fa-regular fa-paper-plane"></i>
                                <span>12</span>
                            </div>
                            <div class="likes">
                                <i class="fa-regular fa-heart"></i>
                                <span>19</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tweet">
                    <img src="images/pfp_ye.png" alt="pfp" class="pfp">
                    <div class="tweet-content">
                        <div class="tweet-content__info">
                            <h6 class="nickname">ye</h6>
                            <span class="tweet-time">5h</span>
                        </div>
                        <p class="tweet-content__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptate harum, rerum culpa illum eius. Odit facere voluptatibus praesentium? Animi, accusantium molestiae. Id facere cupiditate amet? Alias nobis numquam quo.</p>
                        <div class="tweet-content__stats">
                            <div class="reposts">
                                <i class="fa-regular fa-paper-plane"></i>
                                <span>12</span>
                            </div>
                            <div class="likes">
                                <i class="fa-regular fa-heart"></i>
                                <span>19</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
        function createPost() {
            // Get the post content from the textarea
            const postContent = document.getElementById('postContent').value;

            // Make a POST request to your backend
            fetch('post/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    // You may need to include other headers, such as authorization headers
                },
                body: JSON.stringify({
                    content: postContent,
                    // Include other fields as needed based on your schemas.PostCreate structure
                }),
            })
            .then(response => response.json())
            .then(data => {
                // Handle the response from the server
                console.log('Post created:', data);
            })
            .catch(error => {
                console.error('Error creating post:', error);
            });
        }
    </script>
    
</body>
</html>