<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="static/images/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/549cc9b111.js" crossorigin="anonymous"></script>
</head>
<body>
    
  <div class="container">


    <div class="overlay">

        <div class="left-side">
            <div class="logo">
                <img src="static/images/a.png" alt="A">
                <h3>ITYS</h3>
            </div>

            <nav class="menu">
                <div>
                    <i class="fa-solid fa-house-chimney"></i>
                    <a href="#">Home</a>
                </div>
                <div>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <a href="#">Search</a>
                </div>
                <div>
                    <i class="fa-solid fa-music"></i>
                    <a href="#">Music</a>
                </div>
                <div>
                    <i class="fa-solid fa-bell"></i>
                    <a href="#">Notifications</a>
                </div>
                <div>
                    <i class="fa-regular fa-user"></i>
                    <a href="#">Profile</a>
                </div>
            </nav>
        </div>

        <div class="right-side">
            <div class="profile">
                <div>
                    <img src="static/images/pfp_oruntaev.png" alt="pfp" class="pfp">
                    <h6 class="nickname">oryntaev</h6>
                </div>
                <a href="#">Switch account</a>
            </div>

            <div class="recommendations">
                <div>
                    <p>Recommendations for you</p>
                    <a href="#">All</a>
                </div>
                <div class="recommendation">
                    <div>
                        <img src="static/images/pfp_merei.png" alt="pfp" class="pfp">
                        <h6 class="nickname">merei</h6>
                    </div>
                    <button>Follow</button>
                </div>
                <div class="recommendation">
                    <div>
                        <img src="static/images/pfp_alisa.png" alt="pfp" class="pfp">
                        <h6 class="nickname">alissa</h6>
                    </div>
                    <button>Follow</button>
                </div>
                <div class="recommendation">
                    <div>
                        <img src="static/images/pfp_dayana.png" alt="pfp" class="pfp">
                        <h6 class="nickname">dayana</h6>
                    </div>
                    <button>Follow</button>
                </div>
                <div class="recommendation">
                    <div>
                        <img src="static/images/pfp_ye.png" alt="pfp" class="pfp">
                        <h6 class="nickname">ye</h6>
                    </div>
                    <button>Follow</button>
                </div>
                <div class="recommendation">
                    <div>
                        <img src="static/images/pfp_dumile.png" alt="pfp" class="pfp">
                        <h6 class="nickname">dumile</h6>
                    </div>
                    <button>Follow</button>
                </div>
            </div>

        </div>

    </div>


    <div class="content">
        <h4>Home</h4>
        
        <div class="new-post-container tweet">
            <img src="images/pfp_oruntaev.png" alt="pfp" class="pfp">
            <textarea placeholder="What's happening?"></textarea>
            <button type="button">Tweet</button>
        </div>
            
        </div>
    </div>

</div>

</body>
</html>