<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>
    <link rel="stylesheet" href="static/css/landing page.css">
    <script src="https://kit.fontawesome.com/549cc9b111.js" crossorigin="anonymous"></script>
</head>
<body>

<header>
    <nav><a href="landing page.html">Your Logo</a></nav>
    <nav>
        <ul>
            <li><a href="about-us.html">About Us</a></li>
            <li><a href="our team2.html">Our Team</a></li>
            <li><a href="login page.html">Login</a></li>
        </ul>
    </nav>
</header>

<div class="container-pictures">
    <div class="cont-gaz">
        <img src="static/images/gaz.png" alt="">
        <h3>Gazhap Oralbayev</h3>
        <p>Meet Gazhap, our versatile main project manager and junior frontend developer. With keen organizational skills, he leads projects seamlessly from start to finish, ensuring deadlines are met. Gazhap's coding expertise and creativity shine in crafting visually appealing and functional user interfaces. A collaborative team player, he consistently delivers quality work, contributing to project success.</p>
        <div class="gaz-media" style="margin-top: 20px;">
            <p><i class="fa-brands fa-instagram"></i>_gazhap_</p>
        </div>
    </div>
    <div class="cont-mer">
        <img src="static/images/mer.png">
        <h3>Merei Zhaparkhanova</h3>
        <p>Merei is our powerhouse teammate, serving as the main backend developer and creative director. Her coding expertise ensures robust backend solutions, while her creative touch enhances the overall user experience. Merei's versatility and dedication make her an invaluable contributor to our team's success.</p>
        <div class="mer-media" style="margin-top: 82px;">
            <p><i class="fa-brands fa-instagram"></i>merei116</p>
            <p><i class="fa-brands fa-telegram"></i>itachhhhi</p>
        </div>
    </div>
    <div class="cont-ali">
        <img src="static/images/ali.png" alt="">
        <h3>Alissa Ryzhova</h3>
        <p>Alissa is our adaptable team member, excelling as a full-stack developer and main advisor. Her comprehensive skills bring projects to life, while her guidance adds invaluable insights. Alissa's dedication and adaptability make her an essential asset to our team's success.</p>
        <div class="ali-media" style="margin-top: 83px;">
            <p><i class="fa-brands fa-instagram"></i>swagloord69</p>
            <p><i class="fa-brands fa-telegram"></i>swagloord69</p>
        </div>
    </div>
</div>
<!-- Content goes here -->

</body>
</html>
