<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="images/main.css">
    <script src="https://kit.fontawesome.com/549cc9b111.js" crossorigin="anonymous"></script>
    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Poppins&display=swap" rel="stylesheet">

    <title>Profile</title></head>
<body>
    
    <div class="container">
        <div class="overlay">

            <div class="left-side">
                <div class="logo">
                    <img src="images/a.png" alt="A">
                    <h3>ITYS</h3>
                </div>

                <nav class="menu">
                    <div>
                        <i class="fa-solid fa-house-chimney"></i>
                        <a href="main.html">Home</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <a href="search.html">Search</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-music"></i>
                        <a href="music.html">Music</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-bell"></i>
                        <a href="notifications.html">Notifications</a>
                    </div>
                    <div>
                        <i class="fa-regular fa-user"></i>
                        <a href="profile.html">Profile</a>
                    </div>
                </nav>
            </div>

            <div class="right-side">
                <div class="profile">
                    <div>
                        <img src="images/pfp_oruntaev.png" alt="pfp" class="pfp">
                        <h6 class="nickname">oryntaev</h6>
                    </div>
                    <a href="login page.html">Switch account</a>
                </div>

                <div class="recommendations">
                    <div>
                        <p>Recommendations for you</p>
                        <a href="#">All</a>
                    </div>
                    <div class="recommendation">
                        <div>
                            <img src="images/pfp_merei.png" alt="pfp" class="pfp">
                            <h6 class="nickname">merei</h6>
                        </div>
                        <button>Follow</button>
                    </div>
                    <div class="recommendation">
                        <div>
                            <img src="images/pfp_alisa.png" alt="pfp" class="pfp">
                            <h6 class="nickname">alissa</h6>
                        </div>
                        <button>Follow</button>
                    </div>
                    <div class="recommendation">
                        <div>
                            <img src="images/pfp_dayana.png" alt="pfp" class="pfp">
                            <h6 class="nickname">dayana</h6>
                        </div>
                        <button>Follow</button>
                    </div>
                    <div class="recommendation">
                        <div>
                            <img src="images/pfp_ye.png" alt="pfp" class="pfp">
                            <h6 class="nickname">ye</h6>
                        </div>
                        <button>Follow</button>
                    </div>
                    <div class="recommendation">
                        <div>
                            <img src="images/pfp_dumile.png" alt="pfp" class="pfp">
                            <h6 class="nickname">dumile</h6>
                        </div>
                        <button>Follow</button>
                    </div>
                </div>

            </div>

        </div>

        <div class="content_profile">
            <!-- Пустой див в качестве margin чтобы прибить второй к низу -->
            <div></div>


            <!-- Сам див с контентом -->
            <div>
                <div class="profile-top-container">
                    <div class="pfp-settings-container">
                        <img src="images/pfp_oruntaev_big.png" alt="pfp_big" class="pfp_big">
                        <div class="settings">
                            <p>•••</p>
                        </div>    
                    </div>

                    <div class="profile-data">
                        <h4>oryntaev</h4>
                        <div class="followers">
                            <div><h5>48</h5><span>Followers</span></div>
                            <div><h5>64</h5><span>Following</span></div>
                        </div>
                        <p class="description">
                            i love cool socks, sneakers and stickers
                            hot take: MF DOOM is the best MC ever</p>
                    </div>

                    <div class="categories">
                        <h6>Tweets</h6>
                        <h6>Tweets & Replies</h6>
                        <h6>Media</h6>
                    </div>

                    <div class="posts-container">
                        <hr class="separator">
                        <div class="tweet">
                            <img src="images/pfp_oruntaev.png" alt="pfp" class="pfp">
                            <div class="tweet-content">
                                <div class="tweet-content__info">
                                    <h6 class="nickname">oryntaev</h6>
                                    <span class="tweet-time">3h</span>
                                </div>
                                <p class="tweet-content__text">have you ever thought you were in love with someone but then
                                    realised you were staring at the mirror for 20 minutes?</p>
                                <div class="tweet-content__stats">
                                    <div class="comments">
                                        <i class="fa-regular fa-comment"></i>
                                    <span>5</span>
                                    </div>
                                    <div class="reposts">
                                        <i class="fa-regular fa-paper-plane"></i>
                                        <span>12</span>
                                    </div>
                                    <div class="likes">
                                        <i class="fa-regular fa-heart"></i>
                                        <span>19</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="separator">
                        <div class="tweet separated">
                            <img src="images/pfp_oruntaev.png" alt="pfp" class="pfp">
                            <div class="tweet-content">
                                <div class="tweet-content__info">
                                    <h6 class="nickname">oryntaev</h6>
                                    <span class="tweet-time">3h</span>
                                </div>
                                <p class="tweet-content__text">i need a room full of mirrors so i can be surrounded by winners</p>
                                <div class="tweet-content__stats">
                                    <div class="comments">
                                        <i class="fa-regular fa-comment"></i>
                                    <span>5</span>
                                    </div>
                                    <div class="reposts">
                                        <i class="fa-regular fa-paper-plane"></i>
                                        <span>12</span>
                                    </div>
                                    <div class="likes">
                                        <i class="fa-regular fa-heart"></i>
                                        <span>19</span>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>

        </div>

    </div>
    
</body>
</html>