

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REG</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/regi-style.css">
</head>
<body>
    <img id="background" src="static/images/splash.png" alt="">
    <div class="container-reg">
        <div class="container-textR" style="margin-top: -20px;">
            <h2>Hello, this is a registration form.</h2> <br>
        </div>
        <div class="container-formR">
            <form action="{{ url_for('reg')}}" method="POST" enctype="multipart/form-data">
                <label for="lname">Email:</label><br>
                <input type="text" id="email" name="email" value="" class="input-in"><br><br>
                <label for="lname">First name:</label><br>
                <input type="text" id="fname" name="fname" value="" class="input-in"><br><br>
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname" value="" class="input-in"><br><br>
                <label for="lname">Password:</label><br>
                <input type="password" id="password" name="password" value="" class="input-in"><br><br>
                <input type="submit" value="Register" id="reg-but">
            </form>
        </div>
    </div>
</body>
</html>