

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REG</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/regi-style.css">
</head>
<body>
    <img id="background" src="static/images/splash.png" alt="">
    <div class="container-reg">
        <div class="container-textR" style="margin-top: -20px;">
            <h2>Hello, this is a registration form.</h2> <br>
        </div>
        <div class="row my-5">
            <form method="POST">
              <div class="mb-3">
                <label>Username</label>
                <input type="text" required class="form-control" name="login" value="{{login}}" placeholder="login">
              </div>
              <div class="mb-3">
                <label>user_fname</label>
                <input type="text" required placeholder="user_fname" name="user_fname" value="{{user_fname}}" class="form-control">
              </div>
              <div class="mb-3">
                <label>user_sname</label>
                <input type="text" required placeholder="user_sname" name="user_sname" value="{{user_sname}}" class="form-control">
              </div>
              <div class="mb-3">
                <label>Password</label>
                <input type="password" required placeholder="Choose a secure password" value="{{password}}" name="password" class="form-control">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
    </div>
    <script>
     function submitForm() {
         const formData = new FormData(document.getElementById('registrationForm'));
         const data = {};
 
         formData.forEach((value, key) => {
             data[key] = value;
         });
 
         const urlEncodedData = new URLSearchParams(data).toString();
 
         fetch('http://localhost:8000/users/register/', {
             method: 'POST',
             headers: {
                 'Content-Type': 'application/x-www-form-urlencoded',
             },
             body: urlEncodedData,
         })
         .then(response => response.json())
         .then(data => {
             console.log('Success:', data);
         })
         .catch((error) => {
             console.error('Error:', error);
         });
     }
 </script>
</body>

</html>